
.photo {
    width: 300px;
    border: 10px solid #ff1971
}
 .header {
    color: black;
    font-size:500%;
    font-family: Arial
}
.box {
    width: 200px;
    border: 10px solid yellow;
    padding: 0.5rem;
    background: black;
    color: aliceblue;
    text-align: center;
    height: 150px;
    
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: bold 1rem sans-serif;
    font-size: 30px;
    }